@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-slideshow-image/dist/styles.css';

:root {
  --primary-color: #2766cc;
  --secondary-color: #1198f5;
  --light-color: #828282;
  --dark-color: #3e48541f;
  --icon-color: #89c24a;
  --input-backcolor: #4e4f50;
  --posttext-color: #f0f8ff;
  --reaction-icons-color: #545a5f;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #282c34;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #dfe2eb;
  }
}

.box-shadow-login {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
}
.navbar-selected {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
}

.sidebar-box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Heart beat online effect
 */
.avatar-container {
  position: relative;
  width: 97px;
  height: 82px;
}

.online-dot {
  position: absolute;
  bottom: 0;
  margin-top: 15px !important;
  margin-left: 25px;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #44b700;
  border: 2px solid #3e4854;
  animation: heartbeat 1.5s ease-in-out infinite, pulse 3s ease infinite;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.4), 0 0 15px rgba(0, 128, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 128, 0, 0.5), 0 0 30px rgba(0, 128, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.4), 0 0 15px rgba(0, 128, 0, 0.2);
  }
}
.css-10d9dml-MuiTabs-indicator {
  display: none !important;
}

.post-box-shadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.parent-img-post {
  width: inherit;
  object-fit: cover;
}

.post-img {
  object-fit: cover;
  width: 100%;
  max-height: 700px;
}
/* .disable-link {
  background-color: red;
} */
.link-color {
  text-decoration: none !important;
  color: inherit !important;
}

.center-div {
  margin: 0 auto;
  width: 26px;
}

/* Dialog styling section */
#customized-dialog-title {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

/* Dialog position from the top of the PAge customized css
 */
.css-hz1bth-MuiDialog-container {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  display: block !important;
}
.css-ekeie0 {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  display: block !important;
}

/* Moji input with display textare
 */
.react-input-emoji--input,
.react-input-emoji--container {
  display: none !important;
}

.react-emoji {
  position: none !important;
}
